<div class="cta-block">
    <div class="site-form">
        <!-- Begin MailChimp Signup Form -->
        <form action="//hacktostart.us9.list-manage.com/subscribe/post?u=fb0e33e49d4a5baba773ba69d&amp;id=434f45d479" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            
            <h1>We make Hack To Start for you!</h1>
            <p class="sub">Subscribe to our email newsletter to know when we launch new episodes, behind-the-scenes content and more goodies to help you launch, build, and grow your thing.</p>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email">
           <!--  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> -->

            <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <i class="fa fa-paper-plane"></i>
            </button>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>  
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_fb0e33e49d4a5baba773ba69d_434f45d479" tabindex="-1" value="">
            </div>
        </form>
        <!--End mc_embed_signup-->
    </div>
</div>


<footer class="site-footer">
    <div class="inner">
        <div class="mark">
            <a href="/">
                <img class="logo" src="/assets/images/logo-grey.svg" width="120" alt="Hack To Start">
            </a>
            <p><a href="http://madeinottawa.org/?HackToStart">Made (and edited) In Ottawa</a></p>
        </div>

        <div class="blog-social">
             <a href="https://itunes.apple.com/ca/podcast/hacktostart/id929857801?mt=2" target="_blank"><i class="fa fa-headphones"></i></a>
                <a href="http://hacktostart.com/rss/" target="_blank"><i class="fa fa-rss"></i></a>
                <a href="https://soundcloud.com/hacktostart" target="_blank"><i class="fa fa-soundcloud"></i></a>
                <a href="https://twitter.com/hacktostart" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/hacktostart" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com/hacktostart" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>

        <!-- <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section> -->
    </div>
</footer>